@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);

  pre {
    white-space: pre-wrap;
    font-size: 0.875rem;
  }

  h1 {
    margin: 32px 0 0 16px;
  }
}

.header {
  width: 100%;
  margin-top: 32px;
}

.mission {
  margin-top: 32px;
  position: relative;
  p {
    padding: 16px 16px 16px 32px;
    font-color: #333;
    font-size: 32px;
    font-family: var(--font-family-header-base);
    border-left: #333 solid 6px;
  }
}

.image_row {
  img {
    width: 100%;
    margin-top: 16px;
    @media (min-width: 768px) {
      margin-top: 0;
      width: calc(50% - 16px);
      display: inline-block;
      padding-left: 16px;
    }
  }
}

.row {
  position: relative;
  margin-top: 16px;
  p {
    font-size: 18px;
    letter-spacing: .01em;
    margin: 0;
    padding: 0 16px;
    @media (min-width: 768px) {
      padding: 0 0 0 16px;
      display: inline-block;
    }
  }
  img {
    max-width: 100%;
    margin-bottom: 32px;
    @media (min-width: 768px) {
      float: right;
      margin-bottom: 0;
      max-width: calc(58% - 32px);
      display: inline-block;
      padding-left: 16px;
    }
  }
  &::after{
    content: '';
    clear: both;
    display: table;
  }
}
